<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.SalesMapper">

    <insert id="insertSalesList" parameterType="java.util.List">
        INSERT INTO new_sales_work_20260510
        (
        order_number,
        platform,
        product_name_raw,
        product_id,
        quantity,
        product_total,
        unit_price,
        shipping_included,
        order_date
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderNumber},
            #{item.platform},
            #{item.productNameRaw},
            #{item.productId,jdbcType=BIGINT},
            #{item.quantity},
            #{item.productTotal},
            #{item.unitPrice},
            #{item.shippingIncluded},
            #{item.orderDate}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        order_number = order_number
    </insert>



    <insert id="insertNewSales" parameterType="org.example.dto.sales.request.SalesRequestDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO new_sales_work_20260510
        (
        order_number,
        platform,
        product_name_raw,
        product_id,
        quantity,
        product_total,
        unit_price,
        shipping_included,
        order_date
        )
        VALUES
        (
        #{orderNumber},
        #{platform},
        #{productNameRaw},
        #{productId,jdbcType=BIGINT},
        #{quantity},
        #{productTotal},
        #{unitPrice},
        #{shippingIncluded},
        #{orderDate}   <!-- 문자열 'YYYY-MM-DD' 또는 LocalDate 사용 -->
        )
    </insert>

    <select id ="findUnmappedSales" resultType="org.example.dto.sales.response.SalesMappingDto">
        SELECT
            id,
            product_name_raw AS productNameRaw,
            product_id AS productId,
            unit_price AS unitPrice,
            platform,
            shipping_included AS shippingIncluded,
            order_date AS orderDate
        FROM new_sales_work_20260510
        WHERE product_id IS NULL
        ORDER BY id
        LIMIT 1


    </select>

    <update id="updateProductIdMapping">
        UPDATE new_sales_work_20260510
        SET product_id = #{productId}
        WHERE id = #{salesId}
    </update>


    <select id="findUnmappedBatchByDate"
            resultType="org.example.dto.sales.response.SalesMappingDto">
        SELECT
        id,
        product_name_raw  AS productNameRaw,
        product_id        AS productId,
        unit_price        AS unitPrice,
        platform,
        shipping_included AS shippingIncluded,
        order_date        AS orderDate
        FROM new_sales_work_20260510
        WHERE product_id IS NULL
        AND order_date = #{orderDate}
        ORDER BY id
    </select>

</mapper>
