<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.repository.TestSalesMapper">

    <!-- new_sales_data에서 1만개 샘플 -->
    <select id="selectSalesTest" parameterType="int" resultType="org.example.dto.testData.TestSales">
        SELECT
        product_name_raw  AS productNameRaw,
        quantity          AS quantity,
        product_total     AS productTotal,
        unit_price        AS unitPrice,
        shipping_included AS shippingIncluded
        FROM new_sales_data
        LIMIT #{limit}
    </select>

    <!-- test_orders에서 order_number 10만개 -->
    <select id="selectOrderNumbersTest" resultType="string">
        SELECT order_number
        FROM test_orders
        ORDER BY id
    </select>

    <!-- test_sales_data insert -->
    <insert id="insertTestSales">
        INSERT INTO test_sales_data (
        order_number,
        platform,
        product_name_raw,
        quantity,
        product_total,
        unit_price,
        shipping_included,
        order_date
        )
        VALUES (
        #{orderNumber},
        #{platform},
        #{productNameRaw},
        #{quantity},
        #{productTotal},
        #{unitPrice},
        #{shippingIncluded},
        #{orderDate}
        )
    </insert>

    <!-- product -> category -->
    <select id="selectSalesIdsWithoutProduct" resultType="long">
        SELECT id FROM test_sales_data WHERE product_id IS NULL ORDER BY id
    </select>

    <update id="updateSalesProduct">
        UPDATE test_sales_data
        SET product_id = #{productId}
        WHERE id = #{salesId}
    </update>
</mapper>