<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.repository.TestCategoryMapper">

    <!-- new_product_info에서 100 샘플 -->

    <select id="selectCategoryTest" resultType="org.example.dto.testData.TestCategoryGet">
        SELECT
        large_category,
        medium_category,
        small_category
        FROM new_category
    </select>

    <!-- test_product_info insert -->
    <insert id="insertCategoryTest">
        INSERT INTO test_category (
        large_category,
        medium_category,
        small_category
        )
        VALUES (
        #{largeCategory},
        #{mediumCategory},
        #{smallCategory}
        )
    </insert>

    <select id="selectAllCategoryIds" resultType="long">
        SELECT id FROM test_category ORDER BY id
    </select>
</mapper>